/* Blog */

h1.blogTitle
{
    padding-left: 40px;
    font-family: PingFangSC-Regular, sans-serif;
    font-size: 1.4em;
}

ul.posts
{
    width: 95%;
}
.post-date
{
    display: inline-block;
    vertical-align: top;
    font-family: PingFangSC-Semibold, sans-serif;
    font-size: 1.1em;
    color: #1f1f1f;
    width: 20%;
}

.post-content
{
    display: inline-block;
    vertical-align: top;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-stretch: normal;
    font-size: 110%;
    color: #2c3139;
    line-height: 1.8em;
    /*font-family: "Helvetica Neue";*/
    font-family: PingFangSC-Light, sans-serif;
    text-rendering: optimizelegibility;
    font-weight: lighter;
    width: 60%;
}
/*font-family: "Helvetica Neue", Helvetica, Arial;*/
ul.posts li { list-style: none; }
